.filter {
    position: relative;
    user-select: none;
}
.filter__current {
    position: relative;
    color: var(--white);
    font-weight: 500;
    padding-right: 25px;
    cursor: pointer;
    &::after {
        content: "";
        position: absolute;
        background-color: var(--white);
        width: 11px;
        height: 10px;
        top: calc(50% - 5px);
        right: 0;
        clip-path: polygon(
            0 0,
            100% 0,
            50% 100%
        );
        transition: .3s;
    }
}
.filter__current_open {
    &::after {
        transform: rotate(180deg);
    }
}
.filter__body {
    position: absolute;
    background-color: var(--white);
    z-index: 9;
    top: 25px;
    left: 0;
    width: 100%;
    border-radius: 4px;
    color: var(--dark);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.filter__item {
    font-size: 14px;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: var(--beige);
    }
}