@font-face {
    font-weight: 400; 
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf");
  }

  @font-face {
    font-weight: 500; 
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Medium.ttf");
  }
  @font-face {
    font-weight: 700; 
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Bold.ttf");
  }

  *,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
  --white: rgba(255, 255, 255, 1);
  --gray: rgba(248, 247, 244, 1);
  --white-transparent: rgba(255, 255, 255, 0.2);
  --brown: rgba(157, 139, 132, 1);
  --brown-light: rgba(181, 167, 161, 1);
  --orange: rgba(208, 112, 88, 1);
  --btn-orange: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --dark: rgba(50, 50, 50, 1);
  --dark-light: rgba(90, 90, 90, 1);
  --blue: rgba(137, 150, 166, 1);
  --green: rgba(132, 157, 143, 1);
  --beige: rgba(251, 222, 215, 1);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

body {
  transition: .2s;
  font-family: "Roboto";
  background-color: var(--green);
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1 {
  color: var(--white);
}