.subscribe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 40px;
    height: 220px;
}

.subscribe__item {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    img {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.subscribe__new {
    padding: 25px 20px 0px 20px;
    color: var(--dark);
}

.subscribe__new__head {
    font-weight: 500;
}


.subscribe__new__url {
    display: block;
    color: var(--dark);
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
    max-width: 286px;
    margin-top: 15px;
}

.subscribe__sub {
    padding: 5px;
}

.subscribe__sub__body {
    background-color: var(--white);
    height: 100%;
    border-radius: inherit;
    padding: 30px 20px;
}

.subscribe__sub__desc {
    color: var(--dark-light);
}

.subscribe__sub__options {
    margin-top: 48px;
    display: flex;
    gap: 10px;
}

.subscribe__sub__input {
    flex-grow: 1;
}