.header {
    margin-top: 8px;
}

.header__up {
    display: flex;
    justify-content: space-between;
}

.header__down {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__item {
    margin-left: 32px;

    &:nth-child(1) {
        margin-left: 0;
    }

    &:nth-child(2) {
        margin-left: 24px;
    }
}


.options {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn {
    display: flex;
    gap: 8px;
    align-items: center;
}

.btn_search {
    border-radius: 50% !important;
    padding: 8px !important;
    width: 32px;
    height: 32px;
}

.time {
    color: var(--white);
    font-weight: bold;
    font-size: 14px;
}

.number {
    color: var(--white);
    font-weight: bold;
    font-size: 22px;
}

.btn_search_active {
    background-color: var(--white) !important;
    svg path {
        fill: var(--dark);
    }
}

.btn_login_active {
    background-color: var(--white) !important;
    svg path {
        fill: var(--dark);
    }
    color: var(--dark) !important;
}

.input__search {
    width: 341px;
}

.link {
    padding: 10px 15px;
    text-wrap: nowrap;
}

.link__active {
    background-color: var(--orange);
}

@media (max-width: 992px) {
    .link {
        padding: 0px;
    }
}