.link {
    transition: .3s;
      &:hover  {
        .link__text {
            &::after {
                background-color: var(--white);
            }
        }
    }
}

.link__text {
    color: var(--white);
    position: relative;
    font-size: 16px;
    transition: .3s;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        transition: .3s;
        height: 1px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);    
    }
}