.footer {
    padding: 18px 0px 25px 0px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__social {
    display: flex;
}

.footer__item {
    margin-left: 12px;

    &:first-child {
        margin-left: 0;
    }
}

.footer__social__link {
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.footer__links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px 25px;

}
.footer__link__item {
    position: relative;
     img {
        position: absolute;
        left: -20px;
        top: 4px;
     }
}
.footer__link {
    color: var(--white);
    font-size: 13px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 1px;
        transition: .3s;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);    
    }

    &:hover  {
        &::after {
        background-color: var(--white);
        }
    }
   
}