.btn {
    border-radius: 20px;
    background-color: var(--white-transparent);
    padding: 6px 16px;
    font-size: 14px;
    color: var(--white);
    font-weight: 500;
    transition: .3s;
    svg {
        transition: .3s;
    }
}