.banners {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
  margin-top: 40px;
}

.banner {
  position: relative;
  padding: 22px;
  color: var(--white);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  img {
    left: 0;
    top: 0;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: inherit;
  }
}

.banner__header {
  font-size: 35px;
}

.banner__description {
  margin-top: 16px;
  font-size: 18px;
  line-height: 22px;
  flex-grow: 1;
}

.banner__btn {
  align-self: flex-end;
  margin-top: 42px;
}

@media (max-width: 768px) {
  .banners {
    grid-template-columns: 1fr;
  }
}
